# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
dbmain
*.exe
*.out
*.app

# CMake
CMakeFiles/*
cmake_install.cmake
CMakeCache.txt
Makefile

# Others
*.sql
*.ast
*.index
log.txt
*gen.txt
temp*
test*
lex.yy.c
parser.tab.h
parser.tab.c

# Misc
.DS_Store
.vscode/*
